:root {
  /* Colors */
  --color-primary: #8E7DBE;
  --color-accent1: #F6C28B;
  --color-background: #fffef9;
  --color-text: #4B3F72;

  /* Font Family */
  --font-family: 'Montserrat', sans-serif;

  /* Typography */
  --h1-size: 48px;
  --h1-line-height: 1.4em;
  --h1-weight: 400;

  --h2-size: 36px;
  --h2-line-height: 1.2em;
  --h2-weight: 400;

  --h3-size: 28px;
  --h3-line-height: 1.2em;
  --h3-weight: 300;

  --h4-size: 28px;
  --h4-line-height: 1.2em;
  --h4-weight: 500;

  --p-size: 14px;
  --p-line-height: 1.4em;
  --p-weight: 400;

  --button-text-size: 12px;
  --button-text-line-height: 1.2em;
  --button-text-weight: 600;

  --link-size: 14px;
  --link-line-height: 1.2em;
  --link-weight: 600;
}

h2 {
  font-weight: var(--h2-weight);
  line-height: var(--h2-line-height);
  padding: 0;
  margin: 12px 0px;
}

h3 {
  font-weight: var(--h3-weight);
  line-height:var(--h3-line-height);
  padding: 0;
  margin: 4px 0px;
}

h4 {
  font-weight: var(--h4-weight);
  line-height:var(--h4-line-height);
  padding: 0;
  margin: 0px 0px;
}


body {
  background-color: var(--color-background);
  /*font-size: var(--p-size);*/
  font-family: var(--font-family);
  line-height: var(--p-line-height);
  font-weight: var(--p-weight);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  margin: 0px 200px;
}


.navbar {
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
  height: fit-content;
  padding: 48px;

}

p {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

nav {
  display: flex;
  gap: 12px;
  align-items: center;
}

.logo {
  font-size: var(--h1-size);
}

a {
  text-decoration: none;
}

.song-dashboard-header {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 12px;
}
.new-song-btn {
  padding: 4px 8px;
  background-color: var(--color-accent1);
  color: var(--color-text);
  font-weight: 600;
  box-shadow: 0px 0px 10px 0px rgba(88, 88, 88, 0.19);
}

.dashboard {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.song-info {
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(88, 88, 88, 0.19);
  display: flex; 
  padding: 12px 24px 12px 24px;
  
}

.song-div {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
  flex: 1;
}


/*New and Edit pages*/
label {
  display: flex;
  font-weight: 500;
  margin-bottom: 4px;
  margin-top: 12px;

}

input[type="text"] {
  /*width: 100%;*/
  border: 1px solid #ccc;
  padding: 0px 8px;
  border-radius: 12px;
  font-family: var(--font-family);
  background-color: rgba(255, 255, 255, 0);
}

input[type="textarea"]{
  /*width: 100%;*/
  box-sizing: border-box;
  padding: 24px 8px;
  border: 1px solid #ccc;
  border: none;
  font-family: var(--font-family);
}

.top-wrapper {
  padding: 12px 50px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content:top ;
  gap: 4px;
}

.second-wrapper {
  border: 2px solid #bdbdbd44;
}

.second-wrapper:hover {
  box-shadow: 1px 1px 10px 1px rgba(137, 137, 137, 0.19)
}

.column-wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr 0.2fr;
  background-color: #ffffff00;
  border-radius: 24px;
  width: 100%;
}

.section-options {
  display: flex;
  justify-content: end;
  
  align-items: start;
  
}

.section-menu:hover {
  cursor: pointer;
}

.lyrics-wrapper, .notes-wrapper{
  background-color: #ffffff00;
  padding: 8px;
}


.notes-wrapper{
  border-left: 2px solid #bdbdbd44;
}

.lyrics, .notes {
  border: none;
}


textarea {
  outline: none;
  resize: none;
  font-family: var(--font-family);
  font-size: 16px;
  color: #4B3F72;
  background:none;
  width: 100%;
}

.song-data {
  display: flex;
  gap: 12px;  
}

#title, #artist, #key, #tempo, #time_signature {
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
  font-size: 16px;
  font-weight: 500;
  color: #4B3F72;
}

.song-section-name {
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
  font-size: 16px;
  font-weight: 500;
  color: #4B3F72;
  width: fit-content;
  max-width: 12ch;
  font-family: var(--font-family);
}

.page {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: #fdfaf6;
  padding: 12px;
  box-shadow: 1px 1px 10px 1px rgba(77, 50, 95, 0.19);
  margin-bottom: 50px;
}

.song-content {
  margin-top: 50px;
}

.metadata {
  padding: 12px 50px;
}

.title-artist {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

#title {
  font-size: 36px;
  font-family: var(--font-family);
  color: var(--color-text);
}

#artist {
  font-size: 18px;
  font-weight: 300;
}


.tempo-key {
  display: flex;
  justify-content: start;
  gap: 0px;
}


.song-section-name {
  border-bottom: 2px solid #bdbdbd44;
  margin-bottom: 8px;
}

::selection {
  background: var(--color-accent1); /* yellow highlight */
  color: var(--color-text);      /* black text */
}

.contextmenu {
  padding: 12px;
  background-color: white;
  width: fit-content;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 10px 1px rgba(77, 50, 95, 0.19);
  gap: 12px;
  position: fixed; 
  z-index: 1000;
  display: none;
}

.menu-options {
  border-bottom: 2px solid #bdbdbd44;
}

.menu-links {
  color: var(--color-text);
}

.menu-options:last-child {
  border-bottom: none;
}

.menu-links {
    color: var(--color-text);
    text-decoration: none;
    display: block;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.menu-links:hover {
    background-color: #f5f5f5;
}

button {
  border: none;
  background: none;
 }

 .second-wrapper.dragging {
  opacity: 0.5;
  border: 2px dashed #8E7DBE;
}

.second-wrapper:hover {
  cursor: move;
}