{% extends "base.html" %}

{% block title %}{{ 'Edit Song' if song_id else 'New Song' }}{% endblock %}

{% block content %}
<div class="container" style="margin-top: 50px;">  <h1>{{ 'Edit Song' if song_id else 'Create New Song' }}</h1> </div>

<section class="page container">
  <section>
    
  <form method="POST" action="" class="metadata">
    <div class="song-data title-artist">
      <input type="text" name="title" id="title" required placeholder="Song Title">

      <input type="text" name="artist" id="artist" placeholder="Original Artist / Composer / Band">
    </div>

    <div class="song-data tempo-key">
      <input type="text" name="key" id="key" placeholder="Key" oninput="resizeInput(this)" style="width: 4ch;">

      <p>|</p>

      <input type="text" name="tempo" id="tempo" min="0" placeholder="Tempo (bpm)" oninput="resizeInput(this)" style="width: 12ch;">

      <p>|</p>

      <input type="text" name="time_signature" id="time_signature" placeholder="Time signature" oninput="resizeInput(this)" style="max-width:12ch;">
      
      <p>|</p>

    </div>
  </form>

</section>

<section class="song-content">
  <div class="top-wrapper">
    <div class="second-wrapper">
      <div class="column-wrapper">
        <div class="lyrics-wrapper">
          <form action="" class="song-section">
            <input name="song_section" id="song-section-name" placeholder="Section">
            <textarea name="lyrics" id="lyrics" placeholder="Type/paste your lyrics here"></textarea>
          </form>
        </div>

      <div class="notes-wrapper">
        <form action="" class="notes-area">
          <textarea name="notes" id="notes" placeholder="Add section notes here"></textarea>
        </form>
      </div>
    </div>
  </div>


  </div>
</section>

</section>


<script>
  document.addEventListener("input", function (e) {
    if (e.target.tagName.toLowerCase() === "textarea") {
      e.target.style.height = "auto"; // reset
      e.target.style.height = (e.target.scrollHeight) + "px";
    }
  });

  function resizeInput(input) {
    const length = input.value.length;
    input.style.width = (length > 0 ? length + 1 : 4) + 'ch'; // default to 4ch if empty
  }

  document.addEventListener("DOMContentLoaded", () => {
    const fields = document.querySelectorAll("input, textarea");

    fields.forEach((field, index) => {
      if (field.tagName.toLowerCase() === 'input') {
        field.addEventListener("keydown", function (e) {
          if (e.key === "Enter") {
            e.preventDefault(); // Prevent form submission
            const next = fields[index + 1];
            if (next) next.focus();
          }
        });
      }
    });
  });
</script>
{% endblock %}
