{% extends "base.html" %}

{% block title %}{{ 'Edit Song' if song_id else 'New Song' }}{% endblock %}

{% block content %}
<section class="metadata container">
  <h1>{{ 'Edit Song' if song_id else 'Create New Song' }}</h1>

  <form method="POST" action="">
    <div>
      <label for="title">Title:</label>
      <input type="text" name="title" id="title" required>
    </div>

    <div>
      <label for="artist">Original Artist / Composer / Band:</label>
      <input type="text" name="artist" id="artist">
    </div>

    <div>
      <label for="key">Key:</label>
      <input type="text" name="key" id="key">
    </div>

    <div>
      <label for="tempo">Tempo (BPM):</label>
      <input type="number" name="tempo" id="tempo" min="0">
    </div>

    <div>
      <label for="time_signature">Time Signature:</label>
      <input type="text" name="time_signature" id="time_signature" placeholder="e.g. 4/4">
    </div>

  </form>

</section>

<section class="container song-content">
  <div class="top-wrapper">

    <div class="second-wrapper">
      <div class="column-wrapper">
        <div class="lyrics-wrapper">
          <h4>Section</h4>
          <form action="" class="lyrics-area">
            <textarea name="lyrics" id="lyrics" rows="10" cols="80"></textarea>
          </form>
        </div>

      <div class="notes-wrapper">
        <h4>Notes</h4>
        <form action="" class="notes-area">
          <textarea name="notes" id="notes" rows="10" cols="80"></textarea>
        </form>
      </div>
    </div>
  </div>

      <div class="second-wrapper">
      <div class="column-wrapper">
        <div class="lyrics-wrapper">
          <h4>Section</h4>
          <form action="" class="lyrics-area">
            <textarea name="lyrics" id="lyrics" rows="10" cols="80"></textarea>
          </form>
        </div>

      <div class="notes-wrapper">
        <h4>Notes</h4>
        <form action="" class="notes-area">
          <textarea name="notes" id="notes" rows="10" cols="80"></textarea>
        </form>
      </div>
    </div>
  </div>
      <div class="second-wrapper">
      <div class="column-wrapper">
        <div class="lyrics-wrapper">
          <h4>Section</h4>
          <form action="" class="lyrics-area">
            <textarea name="lyrics" id="lyrics" rows="10" cols="80"></textarea>
          </form>
        </div>

      <div class="notes-wrapper">
        <h4>Notes</h4>
        <form action="" class="notes-area">
          <textarea name="notes" id="notes" rows="10" cols="80"></textarea>
        </form>
      </div>
    </div>
  </div>



  </div>


</section>

<script>
  document.addEventListener("input", function (e) {
    if (e.target.tagName.toLowerCase() === "textarea") {
      e.target.style.height = "auto"; // reset
      e.target.style.height = (e.target.scrollHeight) + "px";
    }
  });
</script>
{% endblock %}
