{% extends "base.html" %}

{% block title %}{{ 'Edit Song' if song_id else 'New Song' }}{% endblock %}

{% block content %}
<div class="container" style="margin-top: 50px;">  <h1>{{ 'Edit Song' if song_id else 'Create New Song' }}</h1> </div>

<section class="page container">
  <section>
    
  <form method="POST" action="" class="metadata">
    <div class="song-data title-artist">
      <input type="text" name="title" id="title" required placeholder="Song Title">

      <input type="text" name="artist" id="artist" placeholder="Original Artist / Composer / Band">
    </div>

    <div class="song-data tempo-key">
      <input type="text" name="key" id="key" placeholder="Key" oninput="resizeInput(this)" style="width: 4ch;">

      <p>|</p>

      <input type="text" name="tempo" id="tempo" min="0" placeholder="Tempo (bpm)" oninput="resizeInput(this)" style="width: 12ch;">

      <p>|</p>

      <input type="text" name="time_signature" id="time_signature" placeholder="Time signature" oninput="resizeInput(this)" style="max-width:12ch;">
      
      <p>|</p>

    </div>
  </form>

</section>

<section class="song-content">
  <div class="top-wrapper" id="song-container">
    <div class="second-wrapper">
      <div class="column-wrapper">
        <div class="lyrics-wrapper">
          <form action="" class="song-section">
            <input name="song_section" class="song-section-name" placeholder="Section">
            <textarea name="lyrics" class="lyrics" placeholder="Type/paste your lyrics here"></textarea>
          </form>
        </div>

      <div class="notes-wrapper">
        <form action="" class="notes-area">
          <textarea name="notes" class="notes" placeholder="Add section notes here"></textarea>
        </form>
      </div>

      <div class="section-options">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-three-dots section-menu" viewBox="0 0 16 16">
        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
        </svg>
      </div>
    </div>
  </div>


  </div>
</section>
</section>

<div class="contextmenu" id="contextmenu">
  <div class="menu-options">
    <a href="" class="menu-links" data-action="copy">Copy</a>
  </div>

  <div class="menu-options">
    <a href="" class="menu-links" data-action="move">Move to section</a>
  </div>
</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
